[Unit]
Description=mpdscrobble.service

[Service]
Type=simple
Restart=always
RestartSec=5
StartLimitBurst=20
WorkingDirectory=%h
# Pipenv Installation
# ExecStart=%h/Documents/mpdscrobble/.venv/bin/mpdscrobble
# Classic Installation
ExecStart=/usr/bin/mpdscrobble

[Install]
WantedBy=multi-user.target
