[Unit]
Description=mpdscrobble.service
After=mpd.service

[Service]
Type=simple
# Pipenv Installation
# ExecStart=%h/Documents/mpdscrobble/.venv/bin/mpdscrobble
# Classic Installation
ExecStart=/usr/bin/python3 -m mpdscrobble

[Install]
WantedBy=default.target
